@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap');

/* todos os elementos/seletores usarão a regra abaixo */
/* INICIO DO CABEÇALHO */
* { margin: 0 auto;
    left: 0;
    padding: 2px;
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 2px;    
}

/* para tirar barra de rolagem  html{ overflow-x:hidden; e para navegação do link interno suavizar usar scroll-behavior: smooth; } */
html{ 
    overflow-x:hidden;
    scroll-behavior: smooth;
}
img { max-width: 100%;}


/* seletor classe, usei no alinhamento do logo   .alinhar {margin-left: 160px;} */

header img {
        position: absolute;
        margin-top: -25px;
        margin-left: 180px;
        font-size: 20px;
        max-width: 100%;
       
}

header h1 {
    text-align:left;
    margin-left: 290px;
    margin-top: 20px;
    /* display: flex; */
}


#menu { background-color: rgba(45, 45, 48, 0.911);
        border-bottom: solid black 5px;
        /* display: flex; */
        
        
}

#menu ul {
    max-width: 800px;
    list-style: none;
    padding: 0;
    text-align: center; 
    margin-top: 50px;
   
}


/* usei display: inline  - para que todos o filhos (il) fiquei na mesma linha horizontalmente  */
#menu ul li {
    display: inline;
    
}


/* display: inline-block para quando clicar no menu toda area da em volta da palavra seja "clicavel" para não precisar clicar precisamente em cima da palavra, mas um pouquiho a baixo ou em cima,  e transition tempo da transição da cor ao passar o mouse pelos menu e */
#menu ul li a {
    color: #FFF;
    padding: 8px;
    display: inline-block;
    text-decoration: none;
    transition: background .4s;
    text-transform: uppercase;
   
}


/* usei aqui o background-color para quando passar o mouse trocar a cor, ou seja formatação de interação com o link: hover - pseudo-classe de passar o mause*/
#menu ul li a:hover {
    background-color: rgb(24, 139, 233);
}


/* Tornamos o cabeçalho fixo, posicionado completamente
    na parte de cima, e mantendo sua largura em 100% */
header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}
/* FIM DO CABEÇALHO */


/* usando este seletor para alinhar a margem do conteudo para que ele não fique no top divido o cabeçalho ter ficado fixo e fora do conteúdo*/
.content{
    margin-top: 160px;
    margin-left: 20px;
}


/* INICIO CAPA */
/* REGRA PARA A DIV CONTAINER SELETOR CLASSE --> */

.capa {
    /* position: absolute; */
    background-image: url(../imagens/capa1reduzida.png);
    background-size: cover;
    padding: 200px;
    margin-left: -25px;
    margin-right: -200px;
    margin-top: -17px;
    max-width: 100%;
}


.texto-capa h1 { 
    position: absolute;
    color: rgb(221, 214, 207);
    text-shadow: rgb(30, 34, 27) 3px 3px 10px;
    text-align: center;
    /* line-height: 30px; */
    padding-right: 45px; 
    font-size: 35px;
    font-family: 'Orbitron', sans-serif;
    top: 220px;
    margin-left: 340px;
    display: flex;
}

.texto-capa h2 {
    position: absolute;
    color: rgb(221, 214, 207);
    text-shadow: rgb(30, 34, 27) 3px 3px 10px;
    text-align: center;
    /* line-height: 30px; */
    padding-right: 45px; 
    font-size: 35px;
    font-family: 'Orbitron', sans-serif;
    top: 400px;
    margin-left: 380px;
    display: flex;
}

/* PAG.INICIAL INDEX - CONTEÚDO : RESUMO SERVIÇOS */

/* ao passar o mouse causa uma sombra na cor espolhida */
.servicos h2 a:hover { background-color: rgb(134, 134, 196);}

/* display : inline faz com que ao passar o mouse o elemento não fica dançando */
.servicos h2 a {
    display: inline;
    text-decoration: none;
    color: rgb(21, 12, 3);
    text-shadow: rgb(44, 46, 42) 3px 3px 10px;
    text-align: center;
    line-height: 35px;
    text-decoration: none;
}

.servicos  { 
    text-align: center;
    margin-top: 80px;
    font-size: 25px;
    font-family: 'Orbitron', sans-serif;
    text-transform: uppercase;
}

.slider  {
    margin-bottom: 100px;
}

/* o slider das foto estam no arquivo css  imagens-slide-com-keyframe.css */

/* PAG.INICIAL INDEX- CONTEUDO : RESUMO O PERITO */

#perito h2, #perito p {
    background-color: rgb(241, 243, 243);
    background-position: center;
    border-radius: 4px;
    box-shadow: rgb(65, 71, 71) 4px 4px 10px;
    color: rgb(211, 192, 192);
    text-align: center;
    color: rgb(30, 34, 27);
    margin-top: 60px;
   
}
    /* vou usar o padding separado para o h2 e p */
#perito h2 {
    padding: 25px;
    font-size: 45px;
    height: 320px;
    width: 1040px;
    margin-left: 150px;
    margin-right: 100px;
}
    
#perito p {
    padding: 40px;
    margin-top: -260px;
    /* margin: bottom 50px; */
    font-size: 20px;
    position: absolute;
    height: 150px;
    width: 760px;
    align-content: center;
    margin-left: 310px;
    margin-right: 200px;
}

/* BOTÃO SAIBA MAIS : */
#perito h3 {
        margin-top: 40px;
        margin-bottom: 150px;
        padding-top: 10px;  
        height: 40px;
        width: 150px;
        text-transform: uppercase;
        font-weight: bold;
        margin-left: 650px;
}


#perito a {
      text-decoration: none;
      color: rgb(182, 189, 176);
      background-color: rgb(54, 50, 50);
      padding: 14px;
      border-radius: 5px;
      font-size: 14px;
      box-shadow: black -8px -8px -0;
}


#perito a:hover {
    background-color: rgb(1, 6, 10);
    cursor: pointer;
}


/* Fim do conteudo resuo O Perito da pg inicial */

/* PAG.INICIAL INDEX- CONTEUDO : contato */


/* FORMATANDO A IMAGEM DO FUNDO */
.contato {
        background-image: url(../imagens/office-865091_1280.jpg);
        background-size: cover;
        background-position: center;
        border-top: solid gray 30px;
        border-bottom: solid gray 30px;
        padding:70px;
        margin-left: -25px;
        margin-right: -200px;
        margin-top: -19px;
        margin-bottom: 100px;
        display: flex;
}

/* FORMATANDO OS BOTÕES DE CONTATO */
.grupo-contato a { 
    text-decoration: none;
    color: rgb(182, 189, 176);
    background-color: rgb(54, 50, 50);
    padding: 15px; 
    padding-top: 29px;
    padding-bottom: 8px;
    border-radius: 15px;
    font-size: 14px;
    box-shadow: black -8px -8px -0;
}

.grupo-contato a:hover {
    background-color: rgb(159, 209, 159);
    cursor: pointer;
    color: black;
}

/* os justify-content não funcionaram */
.grupo-contato {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    margin-left: -500px;
}


.grupo-contato section {
    width: 50%;
    margin-top: 15px;
    margin-bottom: 15px;
    
}
/* FIM DO RESUMO DE CONTATOS LINKADOS */


/* FOrmatação RODAPÉ */

footer {
    background-color: rgba(45, 45, 48, 0.911);
    margin-top: 30px;
    margin-bottom: 0;
    margin-left: -25px;
    margin-right: -250px;
    color: rgb(194, 188, 181);
    text-transform: uppercase;
    font-size: 11px;
    line-height: 18px;
    padding: 0;

}


.logorodape img {
    width: 220px;
    margin-top: 30px;
    /* position: absolute; */
    /* margin-left: 180px;
    margin-bottom: 0; */ 
}

.endereco  h1 {
   text-align: center;
   margin-bottom: 5px;
}



.rede-social h1 {
    text-align: center;
    margin-bottom: 25px;
    justify-content: space-between;
}


.rodape {
    display: flex;
    flex-wrap: wrap;
    margin-left: 140px;
    align-content: space-between;
    width: 70%;
}


footer h2 {
    font-size: 8px;
    margin-top: 10px;
    text-align: center;
}


/* PAGINA SERVIÇOS */

/* formatação da capa  imagem inicio */




/* REGRA PARA A DIV CONTAINER SELETOR CLASSE --> */

.capa-servico {
    /* position: absolute; */
    background-image: url(../imgens-servicos/foto_servi_os.png);
    background-size: cover;
    background-attachment: fixed;
    padding-bottom: 150px;
    padding-top: 90px;
    margin-left: -25px;
    margin-right: -200px;
    margin-top: -17px;
}


.texto-servico h1 { 
    position: absolute;
    color: rgb(221, 214, 207);
    text-shadow: rgb(30, 34, 27) 3px 3px 10px;
    text-align: center;
    text-shadow: black 3px 3px 0px;
    padding-right: 45px; 
    font-size: 50px;
    font-family: 'Orbitron', sans-serif;
    top: 230px;
    margin-left: 640px;
    display: flex;
    justify-content: center;
}

/* formatação das imagens dos seviços e suas descriçoes */



.servicos-pg img {
    position: relative;
    margin-top: 10px;
    margin-left: 90px;
    text-align: left;
    max-width: 100%;
    width: 300px;
    max-width: 100%;
    
}

.servicos-pg figcaption {
    position:absolute;
    margin-top: -150px;
    margin-right: 200px;
    margin-left:485px;
    text-align: center;
    font-family: Orbitron;
    font-size: 18px;
    color:darkseagreen;
    letter-spacing: 3px;
}

/* FIM DAS CONFIGURAÇÕES DA PAGINA SERVIÇOS */



/* /* inicio PAGINA O PERITO */


.operito {
      color: rgb(173, 104, 46);
      text-shadow: rgb(58, 63, 52) 2px 2px 10px;
      text-align:center;
      padding: 10px;
      font-size: 50px;
      margin-bottom: 30px;
}


/* 1a imagem da pagian cyber security */

.centralizada-perito {
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
   }

.centralizada-perito img{
    box-shadow: dimgray -6px -6px 9px;
}


/* PERITO - TEXTO APOS A PRIMEIRA IMAGEM */
.perito, .perito2 {
    text-align:justify;
    font-size: 20px;
    display: block;
    padding: 20px;
    margin-left: 100px;
    margin-right: 100px;
    border: solid rgb(237, 246, 247) 1px;
    border-radius: 6px;
    box-shadow: rgb(12, 54, 54)  4px 4px 6px;
    line-height: 32px;
}

.perito2 {
    margin-top: 30px;
    margin-bottom: 80px;
}

/* OPERITO-IMG É A SEGUNDA IMAGEM */
.operito-img {
    margin-left: 200px;
    margin-top: 50px;
 }

.marque-reuniao {
    text-align: right;
    margin-top: -40px;
    margin-bottom: 120px;
    padding-top: 25px;
    margin-right: 50px;
    background-color: rgb(27, 18, 18);
    width: 250px;
    height: 40px;
    border-radius: 30px;
    
}

.marque-reuniao a  {
    text-decoration: none;
    color: rgb(192, 236, 148);
    background-color: rgb(27, 18, 18);
    padding: 8px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 14px;
}

.marque-reuniao  a:hover, p a:focus {
        background-color: rgb(85, 104, 139);
        color: white;
}








/* FORMATANDO A PAGINA  CONTATO*/

#contato-formulario {
        background-image: url(../imgens-servicos/computer_893258_1920_1.png);
        background-size: cover;
        background-attachment: fixed;
}



.contato-formulario {
    background-color: rgba(255, 255, 255, 0.432);
    width: 700px;
    height:640px;
} 


input {
    height: 30px;
}


textarea {
    height: 200px;
}



input, textarea {
    border: solid 2px;
    width: 100%;
    padding: 4px;
    font-size: 0.9rem;
    padding-top: 7px;
    display: flex;
    justify-content: center;
    border-radius:4px;
    -moz-animation:4px;
    -webkit-border-radius:4px;
    box-shadow:rgb(34, 34, 20) 4px 4px 10px;

}

label { font-size: .7rem;}


button {
    border: none;
    background-color: black;
    color: white;
    font-weight: bold;
    padding: 10px;
}

button:hover, button:focus {
    background-color: rgb(32, 32, 41);
    cursor: pointer;  /*altera o curso do mouse */
} 




